html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.hero {
  padding: 120px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../image/backgrounds/hero-background.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)), url(../image/backgrounds/hero-background.jpg);
  background-size: cover;
  background-position-y: -170px;
  border-bottom: solid 1px #F9A825;
}
@media screen and (max-width: 1200px) {
  .hero {
    background-position-y: 0px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 68px 0;
  }
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.hero-title {
  text-align: center;
  letter-spacing: 0.63px;
  font-size: 32px;
  line-height: 1.6;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .hero-title {
    margin-top: 28px;
    font-size: 22px;
  }
}

.hero-button {
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  background-color: #F9A825;
  font-size: 20px;
  color: #fff;
}

.time {
  padding: 240px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../image/backgrounds/time-background.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6)), url(../image/backgrounds/time-background.jpg);
  background-color: #000f09;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: solid 1px #F9A825;
}
@media screen and (min-width: 1200px) {
  .time {
    background-size: contain;
  }
}

.events-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 32px;
  color: #F8F8F2;
}

.events-desc {
  text-align: center;
  font-size: 16px;
  color: #F8F8F2;
}

.events-button {
  border: none;
  border-radius: 4px;
  background-color: #F9A825;
}

.shuttle {
  padding: 240px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../image/backgrounds/shuttle-background.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)), url(../image/backgrounds/shuttle-background.jpg);
  background-color: #000f09;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: solid 1px #F9A825;
}
@media screen and (min-width: 1200px) {
  .shuttle {
    background-size: contain;
  }
}

.shuttle-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 485px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .shuttle-texts {
    width: 100%;
    padding: 0 16px;
  }
}

.shuttle-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 32px;
  color: #F8F8F2;
}

.shuttle-desc {
  text-align: center;
  font-size: 16px;
  color: #F8F8F2;
}

.food {
  padding: 240px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../image/backgrounds/food-background.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6)), url(../image/backgrounds/food-background.jpg);
  background-color: #000f09;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: solid 1px #F9A825;
}
@media screen and (min-width: 1200px) {
  .food {
    background-size: contain;
  }
}

.food-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 485px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .food-texts {
    width: 100%;
    padding: 0 16px;
  }
}

.food-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 32px;
  color: #F8F8F2;
}

.food-desc {
  text-align: center;
  font-size: 16px;
  color: #F8F8F2;
}

.time {
  padding: 240px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../image/backgrounds/time-background.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6)), url(../image/backgrounds/time-background.jpg);
  background-color: #000f09;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: solid 1px #F9A825;
}
@media screen and (min-width: 1200px) {
  .time {
    background-size: contain;
  }
}

.time-texts {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 300px;
  border: solid 2px #f00;
  border-radius: 10px;
}

.time-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 32px;
  color: #F8F8F2;
}

.time-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.time-item {
  color: #F8F8F2;
  opacity: 0.7;
}
.time-item a {
  color: #F9A825;
}
.time-item:hover, .time-item:focus {
  opacity: 1;
}
@media (hover: none) {
  .time-item {
    opacity: 1;
  }
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #000f09;
}

.footer-logo {
  font-family: lexend, sans-serif;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: #F9A825;
}

.footer-title {
  margin: 15px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #F8F8F2;
}

.footer-person {
  margin-bottom: 3px;
  color: #F8F8F2;
  opacity: 0.7;
}
.footer-person a {
  color: #F9A825;
}
.footer-person:hover, .footer-person:focus {
  opacity: 1;
}
@media (hover: none) {
  .footer-person {
    opacity: 1;
  }
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer-input {
  max-width: 420px;
  width: 100%;
  padding: 15px 16px;
  background-color: #000f09;
  border-radius: 4px;
  border: solid 1px #F8F8F2;
  color: #F8F8F2;
}

.footer-sub {
  padding: 15px 25px;
  border-radius: 4px;
  font-size: 16px;
  border: 0;
  background-color: #F9A825;
  color: #F8F8F2;
}